@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>@Model["category"].GetName() Details</h1>
</div>

<div class="container">
  <ul>
    @foreach (var task in Model["tasks"])
    {
      <li>@task.GetDescription()</li>
    }
  </ul>

  <a href='/CategoryDetails/@Model["category"].GetId()/TaskForm'><button type="button" class="btn btn-success" name="button">Create a new task</button></a>

  <a href="/"><button type="button" class="btn btn-success" name="button">Go Home</button></a>
</div>
