@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>@Model["category"].GetName() Details</h1>
</div>

<div class="container">


    @if(Model["tasks"].Count ==0)
    {
      <h1>There are no tasks for this category yet!</h1>
    }
    else
    {

        @foreach (var task in Model["tasks"])
        {
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Due date: @task.GetDateTime()</h3>
            </div>
            <div class="panel-body">
              <h2>@task.GetDescription()</h2>
            </div>
          </div>
        }

    }


  <a href='/CategoryDetails/@Model["category"].GetId()/TaskForm'><button type="button" class="btn btn-success btn-create" name="button">Create a new task</button></a>
<br>
<br>
  <a href='/CategoryDetails/@Model["category"].GetId()/ClearAll'><button type="button" name="button" class="btn btn-danger btn-delete">Delete All Tasks</button>
<br>
<br>
  <a href='/CategoryDetails/@Model["category"].GetId()/ClearCategory'><button type="button" name="button" class="btn btn-danger btn-delete">Delete This Category</button>
<br>
<br>
  <a href="/Categories"><button type="button" class="btn btn-warning btn-home" name="button">Go back</button></a>
</div>
