@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>All my Categories</h1>
</div>

<div class="container">
  <div class="row">

  </div>
  <div class="list-group">
    @foreach(var category in Model)
    {

      <a href="/CategoryDetails/@category.GetId()" class="btn-create"><button type="button" class="list-group-item">@category.GetName()</button></a>
    }
  </div>

  <a href="/"><button type="button" class="btn btn-warning btn-home" name="button">Go Home</button></a>
</div>
