@{
Layout = "_Layout";
}

<div class="jumbotron">
  <h1>To Do List</h1>
</div>

<div class="container">

  <a href="/CategoryForm"><button type="button" class="btn btn-success btn-create" name="button">Create a new Category!</button></a>

  <br>
  <br>

  <a href="/Categories"><button type="button" class="btn btn-success btn-view" name="button">View all Categories</button></a>

</div>
