@{
Layout = "_Layout";
}

<div class="jumbotron">
  <h1>To Do List</h1>
</div>

<div class="container">

  <a href="/CategoryForm"><button type="button" class="btn btn-success" name="button">Create a new Category!</button></a>

  <a href="/Categories"><button type="button" class="btn btn-success" name="button">View all Categories</button></a>

</div>
